html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DM Serif Display', serif;
    font-family: 'Quicksand', sans-serif;
    background-color: #99cc11;
}

#corpo form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10%;
}

input{
    font-size: 18px;
    padding:10px;
    border: none;
    
}

input.txt{
    margin: 0px 0px 20px 0px;
    width: 60%;
    border-bottom: 1px solid #E38507;
}


input.txt::placeholder{

    color: rgb(126, 83, 26);
}


input.btn{
    margin-top: 35px;
    width: 30%;
    border-radius: 10%;
    background-color: #E38507;
    color: #ffffff;

}

@media only screen and (max-device-width: 1000px)
{
   #corpo form{
      
    height: 360px;
    width: 360px;
       
   }
    }